/* base style */
html {
    font-size: 16px;
}

body {
    font-size: 0.9rem;
    margin: 0;
    color: var(--grey-color);
    font-family: "Gilroy-Medium";
}

a {
    text-decoration: none;
}

.list-nostyle {
    list-style: none;
}

.flex-display{
    display: flex;
}

.grid-display{
    display: grid;
}

.flex-direction-column{
    flex-direction: column;
}

.position-relative{
    position: relative;
}

.rounded-circle{
    border-radius: 100%;
}

.form-control{
    width: calc(100% - 43px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.form-control:focus-visible{
    border-color: #dee2e6!important;
}

.default-radius{
    border-radius: 8px;
}

.default-font {
    font-size: 1.2rem;
}

.blue-button {
    background-color: #1688fe;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 200px;
    padding: 15px;
}

button[type="submit"]:hover {
    background-color: rgb(51, 150, 215); 
}



.wrapper {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    height: 1227px; /* To delete after */
}

section.main-section{
    width: 100vw;
}

.sidebar {
    position: relative;
    flex: 0.28 1;
    display: flex;
    flex-direction: column;
    width: 278px;
    border: solid #f1f1f1;
    border-width: 0px 2px 0px 0px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    gap: 15px;
}

.container {
    flex: auto;
    flex: 0.92 1;
    padding: 36px 91px 0px 91px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.premium-container {
    display: flex;
    flex-direction: row;
    background-color: #008c5d;
    align-items: center;
    gap: 1rem;
    padding: 1.4rem 1.5rem;
    color: #fff;
}

.premium-container h1{
    margin-bottom: 3px;
    margin-top: 0px;
}

.premium-container p{
    margin-top: 5px;
    font-size: 1.2rem;
}

.personal-info-content{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 15px;
}

.personal-information .personal-info-title{
    display: block;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black-color);
}

.personal-info-content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.resumedone-info, .btn-container, .check-hire-the-best-content, .full-col{
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete-account-container{
    border:2px solid #f1f1f1;
    padding: 15px;
}

.delete-account-container span{
    color: var(--black-color);
    font-size: 1.5rem;
}

.delete-account-container p, .get-support-txt p{
    font-size: 1.2rem;
}

.delete-account-container a.btn-delete-link{
    font-size: 1.2rem;
    color: var(--red-link-color);
    font-weight: bold;
}

.blue-text{
    color: #1688fe;
}

footer {
    border-top: 2px solid #f1f1f1;
}

footer a {
    color: #595964;
    font-size: 1.1rem;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    padding-left: 0px;
}

/* icon style */
.sidebar a.star::before, span.star::before {
    background-image: url('/assets/img/star.png');
}

.sidebar span.search::before {
    background-image: url('/assets/img/search.png');
}

.sidebar a.my-template::before {
    height: 22px;
    background-image: url('/assets/img/template.png');
}

.sidebar a.history::before {
    background-image: url('/assets/img/history.png');
}

.sidebar span.boards::before {
    height: 22px;
    background-image: url('/assets/img/boards.png');
}

.sidebar a.board1::before {
    background-image: url('/assets/img/board1.png');
}

.sidebar a.lock::before {
    background-image: url('/assets/img/lock.png');
}

.sidebar .mobile-menu{
    background-image: url('/assets/img/responsive-menu.png');
}

.sidebar .with-icon {
    padding-left: 25px;
    position: relative;
}

.setup-icon{
    color: #595964;
}

.add-board-btn, .setup-icon{
    margin-right: 23px;
    cursor: pointer;
}

.sidebar .with-icon::before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: -2px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.icon-validation.ok{
    position: absolute;
    top: 20px;
    right: 8px;
    color: #26d0b2;
}

.icon-validation.ko{
    color: #f61717;
}

/* -------------------- */

.sidebar ul {
    padding-left: 0px;
    line-height: 2rem;
    margin-bottom: 0px;
    margin-top: 2px;
    padding-top: 10px;
}

.sidebar ul.history-list {
    line-height: 1.7rem;
}

.sidebar a {
    text-decoration: none;
    color: rgb(133, 140, 152);
}



.sidebar a.my-template {
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
}

.sidebar-header{
    display: flex;
    align-items: center;
    padding: 12px 0 12px 9px;
    gap: 5px;
}

.sidebar-header span{
    color: var(--second-grey);
    font-weight: bold;
}

.sidebar-footer{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 55px;
    padding-left: 20px;
    border-top: 2px solid #f1f1f1;
    margin-top: auto;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    gap: 20px;
}

.ms-auto{
    margin-left: auto;
}

.resp-menu{
    display: none;
}
.search{
    display: flex;

}

.star-list, .history-list, .board-list{
    display: flex;
    flex-direction: column;
}

.star-list, .board-list{
    gap: 7px;
}

.history-list{
    gap: 6px;
}

.search-container{
    display: flex;
    flex-direction: column;
}

.search-container span, .board-container span{
    color: var(--black-color);
    font-weight: bold;
}